canvas {	
	height: 450px !important;	
	width: 1007px !important;	
	margin: auto;	
	margin-top: 10px;
	background-color: rgb(245, 237, 237) !important;	
	color: #404244 !important;
	position: relative !important;
	border: 1px dotted rgb(51, 6, 6);
  }

.currency-converter {
	 padding: 15px 5px;
}
 .currency-converter input {
	 width: 20rem;
	 height: 50px;
	 border-radius: 10px;
	 padding: 5px 10px;
	 border-color: transparent ;
	 outline-color: inherit !important;
}
 .currency-converter select {
	 width: 5rem;
	 height: 50px;
	 border-radius: 8px;
	 border-color: transparent;
}