canvas {	
	height: 420px !important;	
	max-width: 960px !important;	
	margin: 0 auto !important;	
	margin-top: 10px !important;
	background-color: rgb(245, 237, 237) !important;	
	color: #404244 !important;
	position: relative !important;
	border: 1px dotted rgb(51, 6, 6);		
  }

  .banner {
	width: 1200px;	 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		
} 

  .currency-converter {
	padding: 15px 5px;
	margin: 0 auto;
  max-width: 960px;	 
}

.currency-converter input {
	width: 20rem;
	height: 50px;
	border-radius: 5px;
	padding: 5px 10px;
	border-color: transparent ;
	outline-color: inherit !important;
}

.currency-converter select {
	width: 5rem;
	height: 50px;
	border-radius: 5px;
	border-color: transparent !important;
}

