.banner {
	 width: 1200px;	 
	 background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-color: #89abbe;	 
} 

.currency-converter {
	 padding: 15px 5px;	 
}

.currency-converter input {
	 width: 20rem;
	 height: 50px;
	 border-radius: 5px;
	 padding: 5px 10px;
	 border-color: transparent ;
	 outline-color: inherit !important;
}

.currency-converter select {
	 width: 5rem;
	 height: 50px;
	 border-radius: 5px;
	 border-color: transparent;
}

 
 