.currency-data:nth-child(odd) {
  background-color: #495670;
}

.currency-list {
  background: #112240;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 360px;
  color: #ccd6f6;
  scrollbar-color: #495670 #0a192f !important;
  scrollbar-width: 10px !important;
}

.chart {
  height: 430px !important;
  z-index: 20;
}

.heading {
  font-size: 1.3em;
  border-radius: 25px 25px 0px 0px;
  background: linear-gradient(180deg, #1d3046 35%, #112240 100%);
  color: #4eb3a5;
}

.currency-table {
  padding: 15px;
  position: fixed !important;
  top: 460px !important;
  margin-left: 100px;
  border-radius: 25px;
  border: 1px rgb(78, 179, 165) solid;
  height: 445px;
  width: 90%;
  z-index: -100;
  font-size: 1.3em;
}

@media only screen and (max-width: 1200px) {
  .currency-table {
    position: fixed !important;
    top: 640px !important;
    margin-left: 40px !important;
    font-size: 1em;
  }
}
