<<<<<<< HEAD
.footer {
  background: url('/img/footer.png') no-repeat center center scroll;
  width: 100%;
  height: 90px;
}

.my_website {
  width: 50%;
  float: left;
  height: 90px;
  padding: 15px;
}

.my_website p {
  width: 100%;
  text-align: center;
  line-height: 60px;
}

.my_website p {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 55px;
  color: #08293F;
}

.my_website p:hover {
  text-decoration: none;
  color: cornflowerblue;
}


.social_media {
  height: 90px;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social_media img {
  margin-left: 30px;
  width: 50px;
}

.social_media img:hover {
  cursor: pointer;
}

@media(max-width: 768px) {
  .my_website p {
    font-size: 28px;
  }
  .social_media img {
    width: 45px;
    margin-left: 24px;
  }
}

@media(max-width: 650px) {
  .my_website p {
    font-size: 24px;
  }
  .social_media img {
    width: 42px;
    margin-left: 20px;
  }
}

@media(max-width: 530px) {
  .my_website p {
    font-size: 23px;
  }
  .social_media img {
    width: 40px;
    margin-left: 16px;
  }
}

@media(max-width: 480px) {
  .footer {
    height: 110px;
    background: url('/img/footersmall.png') no-repeat center center scroll;
  }
  .my_website {
    width: 100%;
    height: 45px;
    padding: 7px;
  }
  .my_website p {
    height: 40px;
    line-height: 40px;
  }
  .social_media {
    width: 100%;
    height: 45px;
  }
}
=======
>>>>>>> 72adad96f214f0adf13da7b7f517cc53cb7eb307
