.currency {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.currency .container {
  margin-top: 8%;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
  background: linear-gradient(90.65deg, #304549 -0.56%, #2228294f 103.66%);
  border-radius: 10px;
  overflow: auto;
}

.Rate-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.table,
th,
td {
  border: none;
}

.currencyTable {
  width: 50%;
  background-color: #000000d2;
  border-collapse: collapse;
  font-size: 32px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  overflow: hidden;
  color: #b22222;
}

.currencyTable td {
  padding: 15px;
}

.currencyTable th {
  padding: 20px;
  color: white;
  border-bottom: 2px solid white;
}

.currencyTable td {
  border-bottom: 1px solid #ffffff26;
}

p {
  text-align: left;
  font-weight: 200;
  line-height: 10px;
}

p a {
  font-weight: 500;
  color: white;
}









